#imgh{height: 400px; width: 300px;margin-bottom: 1rem; padding: 20px; border: 1px solid #96702b;margin-top: 1rem;background-color:  #f9d697;border-radius: 20px;}
#imgh:hover{background-color: darksalmon;cursor: pointer;}
.product-items{margin-top: 2rem;}
.des{margin-top: 1rem;}
.btn{background-color:  #f9d697;padding: 10px;color: black;margin-top: 5px;width: 100%;margin-bottom: 1rem;}
.btn:hover{background-color: darksalmon;}




@media screen and (max-width:1220px){
    html{ font-size: 13px;}

 }

 @media screen and (max-width:980px){
     .col-t-none{ display: none; }
     .col-t-1{ flex-basis: 8.33%; max-width: 8.33%;}
     .col-t-2{ flex-basis: 16.66%; max-width: 16.66%;}
     .col-t-3{ flex-basis: 25%; max-width: 25%;}
     .col-t-4{ flex-basis: 33.33%; max-width: 33.33%;}
     .col-t-5{ flex-basis: 41.66%; max-width: 41.66%;}
     .col-t-6{ flex-basis: 50%; max-width: 50%;}
     .col-t-7{ flex-basis: 58.33%; max-width: 58.33%;}
     .col-t-8{ flex-basis: 66.66%; max-width: 66.66%;}
     .col-t-9{ flex-basis: 75%; max-width: 75%;}
     .col-t-10{ flex-basis: 83.33%; max-width: 83.33%;}
     .col-t-11{ flex-basis: 91.66%; max-width: 91.66%;}
     .col-t-12{ flex-basis: 100%; max-width: 100%;}
   }

 @media screen and (max-width:768px){
     html{ font-size: 12px;}
     .col-m-3{ flex-basis: 25%; max-width: 25%;}

     .col-m-6{ flex-basis: 50%; max-width: 50%;}
     .col-m-12{ flex-basis: 100%; max-width: 100%;}
     .product-items{margin-top: 5rem;}
     .img-center{text-align: center;}
     

  
 }

 @media screen and (max-width:480px){
     .col-p-1{ flex-basis: 8.33%; max-width: 8.33%;}
     .col-p-2{ flex-basis: 16.66%; max-width: 16.66%;}
     .col-p-3{ flex-basis: 25%; max-width: 25%;}
     .col-p-4{ flex-basis: 33.33%; max-width: 33.33%;}
     .col-p-5{ flex-basis: 41.66%; max-width: 41.66%;}
     .col-p-6{ flex-basis: 50%; max-width: 50%;}
     .col-p-7{ flex-basis: 58.33%; max-width: 58.33%;}
     .col-p-8{ flex-basis: 66.66%; max-width: 66.66%;}
     .col-p-9{ flex-basis: 75%; max-width: 75%;}
     .col-p-10{ flex-basis: 83.33%; max-width: 83.33%;}
     .col-p-11{ flex-basis: 91.66%; max-width: 91.66%;}
     .col-p-12{ flex-basis: 100%; max-width: 100%;}
     
  
 }

 
 @media screen and (max-width:360px){
    .col-p-1{ flex-basis: 8.33%; max-width: 8.33%;}
    .col-p-2{ flex-basis: 16.66%; max-width: 16.66%;}
    .col-p-3{ flex-basis: 25%; max-width: 25%;}
    .col-p-4{ flex-basis: 33.33%; max-width: 33.33%;}
    .col-p-5{ flex-basis: 41.66%; max-width: 41.66%;}
    .col-p-6{ flex-basis: 50%; max-width: 50%;}
    .col-p-7{ flex-basis: 58.33%; max-width: 58.33%;}
    .col-p-8{ flex-basis: 66.66%; max-width: 66.66%;}
    .col-p-9{ flex-basis: 75%; max-width: 75%;}
    .col-p-10{ flex-basis: 83.33%; max-width: 83.33%;}
    .col-p-11{ flex-basis: 91.66%; max-width: 91.66%;}
    .col-p-12{ flex-basis: 100%; max-width: 100%;}
 

 
}